<ion-card>
  <ion-item href="#" class="activated">
    <ion-icon name="contact" slot="start"></ion-icon>
    <ion-label>Pour : {{ clientInfo.company }}</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="compass" slot="start"></ion-icon>
    <ion-label>Adresse : {{ clientInfo.address }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Ville : {{ clientInfo.postalCode }} {{ clientInfo.town }}</ion-label>
  </ion-item>
</ion-card>