<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle facture/devis</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" fill="clear" color="dark">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <app-issuer-card></app-issuer-card>
    </ion-col>
    <ion-col>
      <app-client-card></app-client-card>
      <app-reference-and-date-card></app-reference-and-date-card>
    </ion-col>
  </ion-row>
  <app-invoice-items-list></app-invoice-items-list>
  <app-meta-info-card></app-meta-info-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>