<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>Reference</ion-col>
      <ion-col>Date</ion-col>
      <ion-col>Client</ion-col>
      <ion-col>Société</ion-col>
      <ion-col>Total</ion-col>
    </ion-row>
    <ion-item-divider>
    </ion-item-divider>
    <ion-item *ngFor="let item of items">
      <ion-col>
        <ion-icon name="document"></ion-icon>
      </ion-col>
      <ion-col>
        {{item.refAndDate.reference}}
      </ion-col>
      <ion-col>
        {{item.refAndDate.date | date: 'dd/MM/yyyy'}}
      </ion-col>
      <ion-col>
        {{ item.clientInfo.name }}
      </ion-col>
      <ion-col>
        {{ item.clientInfo.company }}
      </ion-col>
      <ion-col>
        {{item.total}} {{item.unit}}
      </ion-col>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerDirection]="'root'" [routerLink]="'/create'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>